[submodule "externals/MonoGame"]
	path = externals/MonoGame
	url = https://github.com/dmanning23/MonoGame.git
[submodule "externals/GameTimer"]
	path = externals/GameTimer
	url = https://github.com/dmanning23/GameTimer.git

[submodule "externals/RenderBuddy"]
	path = externals/RenderBuddy
	url = git@github.com:dmanning23/RenderBuddy.git
[submodule "externals/BasicPrimitiveBuddy"]
	path = externals/BasicPrimitiveBuddy
	url = git@github.com:dmanning23/BasicPrimitiveBuddy.git
[submodule "externals/CameraBuddy"]
	path = externals/CameraBuddy
	url = git@github.com:dmanning23/CameraBuddy.git
[submodule "externals/Filename"]
	path = externals/Filename
	url = git@github.com:dmanning23/Filename.git
